@model CoreLibrary.Models.EFModels.Map
@{
    ViewData["Title"] = "Интерактивная Карта";
    Layout = "Layout/_LayoutUserAuth";
}

<head>
    <title>Карта с координатами</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=7090a039-9bef-4c3d-bb95-260d617ceaf1&lang=ru_RU" type="text/javascript"></script>
</head>
<body>
<div id="map" style="width: 100%; height: 400px;"></div>
<p>Latitude: <span id="latitude">0</span></p>
<p>Longitude: <span id="longitude">0</span></p>

<script>
        ymaps.ready(function () {
            var map = new ymaps.Map('map', {
                center: [55.755814, 37.617635], // Координаты центра карты
                zoom: 12 // Уровень масштабирования
            });

            map.events.add('click', function (e) {
                var coords = e.get('coords');
                var latitude = coords[0].toPrecision(6);
                var longitude = coords[1].toPrecision(6);

                document.getElementById('latitude').textContent = latitude;
                document.getElementById('longitude').textContent = longitude;
            });
        });
    </script>
</body>