@{
    ViewData["Title"] = "Успешная авторизация!";
}
<br/>
<br/>
<br/>

<div class="text-center">
    <h1 class="display-4">Авторизация успешна!</h1>
    <p>В ваш навигационный лист добавлена система мониторинга.</p>
    <p>Eсли вы являетесь сотрудником, там также находится функционал организации!</p>
    <h6>Желаем вам продуктивного дня!</h6>
</div>