.modal-dialog {
    /* Другие стили модального окна */
    transition: opacity 0.3s ease; /* Добавляем переход для свойства opacity */
    opacity: 1; /* Устанавливаем начальное значение прозрачности */
}

.modal-dialog.hidden {
    opacity: 0; /* Устанавливаем конечное значение прозрачности */
}
